@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
 
.scrollbar::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
.scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    
    border-radius: 5px;
}
 
.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.right{
    right: -12px
}
.left{
    left: -12px
}

.top{
    top: 50%;
}

.banner-left{
    left: 8px;
}

.banner-right{
    right: 8px;
}

.color-white{
    background: rgba(241, 245, 249, 1);
}